* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.player_characters {
    max-width = 408px;
    background-color: blue;
    border: 3px solid white;
}

.mmu_characters {
    max-width = 408px;
    background-color: purple;
    border: 3px solid red;
}

img {
    height: 50px;
    width: 50px;
    border: 0;
    background-size: 100%;
    background-color: blue;
}

button {
    height: 50px;
    width: 50px;
    border: 0;
    background-size: 100%;
    background-color: black;
}

.white {
    background-color: white;
}

body {
    background-color: black;
}

#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4d79bc;
}
